{% extends "base.html" %}{% block title %}Device Stories{% endblock %}{% block stylesheet %}/static/style3.css{% endblock %}{% block headScript1 %}https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js{% endblock %}{% block headScript2 %}https://www.gstatic.com/firebasejs/7.17.2/firebase-database.js{% endblock %}{% block content %}
<main class="dark:bg-gray-900 dark:text-white">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="py-4 mt-4x">
            <header class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                        <img class="mr-4 w-16 h-16 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-2.jpg" alt="Jese Leos">
                        <div>
                            <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">Jese Leos</a>
                            <p class="text-base font-light text-gray-500 dark:text-gray-400">Graphic Designer, educator & CEO Flowbite</p>
                            <p class="text-base font-light text-gray-500 dark:text-gray-400"><time pubdate datetime="2022-02-08" title="February 8th, 2022">Feb. 8, 2022</time></p>
                        </div>
                    </div>
                </address>
            </header>
            <!-- Part to write -->
            <div class="part">
                <span class="headingContainer">
                    <h1 class="heading font-bold text-indigo-400 text-5xl">Changes In Recent Devices</h1><br>
                </span>
                <div class="content mb-4 mt-4 text-black dark:text-white">
                    <p class="para1 text-xl">
                        In recent months, the <span class="font-bold text-red-500">technology of laptops and phones</span> has undergone some major changes and developments. These changes have brought new and exciting features to these devices, making them more versatile and powerful than ever before.
                    </p><br><br>
                    <h3 class="sh1 mb-4">
                        <span class="font-bold text-3xl text-indigo-400">Changes In Our Laptops:</span>
                    </h3>
                    <p class="para2 text-xl">
                        <img src="/static/para1ins.jpg" alt="An image" height="520" width="400" class="img1">
                        One of the most significant changes in laptops has been the <span class="text-red-500 font-bold">prevalence of ultraportable devices.</span> Many manufacturers have released new models of laptops that are <span class="text-red-500 font-bold">thinner and lighter</span> than ever before, making them ideal for people who are always on the go. For example, Apple's new MacBook Air is only 2.8 pounds and 0.63 inches thin, while Dell's XPS 13 is 2.7 pounds and 0.58 inches thin. These ultraportable laptops are also equipped with powerful processors, long battery life and high-resolution displays, making them <span class="text-red-500 font-bold">suitable for both personal and professional use.</span> They are perfect for students, business professionals, and anyone who travels frequently. The ultra-portable design allows for easy packing and carrying, making it easy to take your work with you on the go. <br>

Another trend in laptops has been the <span class="text-red-500 font-bold">emergence of gaming laptops.</span> These devices are designed specifically for gaming and are equipped with high-performance processors, graphics cards, and cooling systems. They also feature high-resolution displays and fast refresh rates, making them perfect for playing the latest games in full HD. Examples of this are the new Alienware m15 R5 and the Razer Blade Pro 15. These laptops are <span class="text-red-500 font-bold">perfect for gamers who want a portable device.</span> that can handle their gaming needs. With the powerful hardware and dedicated graphics card, they can run high-end games smoothly and with high graphics settings.
                    </p><br><br>
                    <h3 class="sh1 mb-4">
                        <span class="font-bold text-3xl text-indigo-400">Changes In Our Phones:</span>
                    </h3>
                    <p class="para3 text-xl">
                        <img src="/static/para2ins.jpg" alt="An image" height="520" width="400" class="img2">
                        In the phone market, there has been a <span class="text-red-500 font-bold">lot of focus on foldable phones.</span> Samsung, Motorola, and TCL are among the manufacturers that have recently released foldable phones that can be folded in half like a book. These phones <span class="text-red-500 font-bold">have large, high-resolution displays</span> that can be used as a tablet when unfolded. They also have <span class="text-red-500 font-bold">powerful processors and long battery life,</span> making them suitable for both personal and professional use. This is a revolutionary change in the way we interact with our mobile devices, giving us the flexibility to switch from phone to tablet. With foldable phones, you can now have the convenience of a phone in your pocket and the functionality of a tablet when you need it. This allows for increased productivity and a new way to interact with our devices. <br>

Another major development in the phone market has been the <span class="text-red-500 font-bold">roll-out of 5g networks.</span> 5G networks enable faster download and upload speeds, allowing for more efficient streaming and internet browsing. Many phone manufacturers have been releasing models that are compatible with 5G networks, such as Samsung Galaxy S21, OnePlus 9, and the iPhone 12 Pro. With 5G, you can experience <span class="text-red-500 font-bold">faster internet speeds and connectivity.</span> making it easier to stay connected with friends and colleagues, stream videos, and play online games.
                    </p><br><br>
                    <h3 class="sh1 mb-4">
                        <span class="font-bold text-3xl text-indigo-400">Summary:</span>
                    </h3>
                    <p class="text-xl para4">
                        Overall, there have been many exciting developments in the technology of laptops and phones in recent months. <span class="text-red-500 font-bold">ultraportable laptops, gaming laptops, foldable phones, and 5G networks, </span> there are now more options than ever for people looking to upgrade their devices. Whether you are a student, a business professional, a gamer, or just someone who wants the latest technology, there is a device out there that will suit your needs. <br>
The advancements in technology have made it possible to have more powerful and versatile devices that can help us stay connected, productive and entertained wherever we go.
                    </p>
                </div>
            </div><br><br><br>
            <!-- <div class="comment-container">
                <h1 class="discussions-heading">Discussions</h1>
                <div class="comment-input">
                    <form method="POST">
                        <textarea name="comment" id="comment-input" placeholder="Your message here..." style="overflow-y: hidden;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~Written by {{user.first_name}}</textarea><br>
                        <button type="submit" class="submitComment" onclick="append()" spellcheck="true" id="submit-comment">Post Comment!!</button>
                    </form>
                </div>
                <div class="comments" id="comments-container">
                    The Discussions take place here. -->
                    <!-- <div>Hi</div>
                </div>
            </div> -->
        </article>
    </div>
  </main>
  
  <aside aria-label="Related articles" class="py-8 lg:py-24 bg-gray-50 dark:bg-gray-800">
    <div class="px-4 mx-auto max-w-screen-xl">
        <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">Related articles</h2>
        <h1 style="text-align: center;" class="text-white">No Articles Available for Now...</h1>
        <!-- <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-1.png" class="mb-5 rounded-lg" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a href="#">Our first office</a>
                </h2>
                <p class="mb-4 font-light text-gray-500 dark:text-gray-400">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
                <a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                    Read in 2 minutes
                </a>
            </article>
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-2.png" class="mb-5 rounded-lg" alt="Image 2">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a href="#">Enterprise design tips</a>
                </h2>
                <p class="mb-4 font-light text-gray-500 dark:text-gray-400">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
                <a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                    Read in 12 minutes
                </a>
            </article>
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-3.png" class="mb-5 rounded-lg" alt="Image 3">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a href="#">We partnered with Google</a>
                </h2>
                <p class="mb-4 font-light text-gray-500 dark:text-gray-400">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
                <a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                    Read in 8 minutes
                </a>
            </article>
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-4.png" class="mb-5 rounded-lg" alt="Image 4">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a href="#">Our first project with React</a>
                </h2>
                <p class="mb-4 font-light text-gray-500 dark:text-gray-400">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
                <a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                    Read in 4 minutes
                </a>
            </article>
        </div> -->
    </div>
  </aside>
  
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-md sm:text-center">
            <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl dark:text-white">Sign up for our newsletter</h2>
            <p class="mx-auto mb-8 max-w-2xl font-light text-gray-500 md:mb-12 sm:text-xl dark:text-gray-400">Stay up to date with the roadmap progress, announcements and exclusive discounts feel free to sign up with your email.</p>
            <form action="#">
                <div class="items-center mx-auto mb-3 space-y-4 max-w-screen-sm sm:flex sm:space-y-0">
                    <div class="relative w-full">
                        <label for="email" class="hidden mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email address</label>
                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                        </div>
                        <input class="block p-3 pl-10 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 sm:rounded-none sm:rounded-l-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Enter your email" type="email" id="email" required="">
                    </div>
                    <div>
                        <button type="submit" class="py-3 px-5 w-full text-sm font-medium text-center text-white rounded-lg border cursor-pointer bg-primary-700 border-primary-600 sm:rounded-none sm:rounded-r-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Subscribe</button>
                    </div>
                </div>
                <div class="mx-auto max-w-screen-sm text-sm text-left text-gray-500 newsletter-form-footer dark:text-gray-300">We care about the protection of your data. <a href="/privacy" class="font-medium text-primary-600 dark:text-primary-500 hover:underline">Read our Privacy Policy</a>.</div>
            </form>
        </div>
    </div>
</section>
<footer class="bg-gray-50 dark:bg-gray-800">
<div class="p-4 py-6 mx-auto max-w-screen-xl md:p-8 lg:p-10">
    <div class="grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-5">
        <div>
            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
            <ul class="text-gray-500 dark:text-gray-400">
                <li class="mb-4">
                    <a href="#" class="hover:underline">Privacy Policy</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Help Center</h2>
            <ul class="text-gray-500 dark:text-gray-400">
                <li class="mb-4">
                    <a href="#" class=" hover:underline">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
    <div class="text-center">
        <a href="#" class="flex justify-center items-center mb-5 text-2xl font-semibold text-gray-900 dark:text-white">
            AquaReWrite
        </a>
    </div>
</div>
</footer>
{% block script %}/static/script3.js{% endblock %}
{% endblock %}